SHELL=/bin/bash

PATH=/sbin:/bin:/usr/sbin:/usr/bin

MAILTO=root

HOME=/

export KEY=lYa4VucwdoUUTQLC2utgtg
export SECRET=NfnIALNRMcrvC844yypUubWp2xmuiL3zbLN8osjWntM
export TOKEN=1131301906679324672-9BVsG9IyN7ay9oug11bjC4HZ4hOqhn
export TOKEN_SECRET=mNjtsgq53LITFWcUGfDV4c4ijSL1IbIneorTuaGqybOWw
export SERVER_HOST=mqtt-redesfis.ws.atnog.av.it.pt
export SERVER_PORT=80
export TOR_PROXY=18.130.65.85:8118

# ┌───────────── minute (0 - 59)
# │ ┌───────────── hour (0 - 23)
# │ │ ┌───────────── day of month (1 - 31)
# │ │ │ ┌───────────── month (1 - 12)
# │ │ │ │ ┌───────────── day of week (0 - 6) (Sunday to Saturday;
# │ │ │ │ │                                       7 is also Sunday on some systems)
# │ │ │ │ │
# │ │ │ │ │
# * * * * *  command to execute
26 4,15,18,21 * * * root python3.7 -u twitter_bot.py > /dev/stdout
#