{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}Home{% endblock %}

{% block content %}
  <div class="container">
    {% if image %}
      <div class="mt-4">
        <h1>Esta imagem é de comida portuguesa?</h1>
        <form action="{% url 'rate_image' image.id %}" method="post">
          {% csrf_token %}
          <img alt="{{ image.file.url }}" src="{{ image.file.url }}" />
          <button type="submit" name="vote" value="0">Não</button>
          <button type="submit" name="vote" value="1">Sim</button>
        </form>
      </div>
    {% else %}
      <h1>There are no images available! Try again</h1>
    {% endif %}

  </div>
{% endblock %}
