alabaster==0.7.12
appdirs==1.4.3
attrs==19.3.0
Babel==2.8.0
boto3==1.9.246
botocore==1.12.246
CacheControl==0.12.6
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
commonmark==0.9.1
contextlib2==0.6.0
distlib==0.3.0
distro==1.4.0
docformatter==1.3
docutils==0.14
emoji==0.5.4
entrypoints==0.3
flake8==3.7.8
flake8-bugbear==19.8.0
future==0.18.2
gitdb2==2.0.5
GitPython==3.0.3
h5py==2.10.0
html5lib==1.0.1
idna==2.8
imagesize==1.2.0
ipaddr==2.2.0
Jinja2==3.0.0a1
jmespath==0.9.5
joblib==0.14.1
lockfile==0.12.2
Markdown==2.6.11
MarkupSafe==2.0.0a1
mccabe==0.6.1
more-itertools==8.2.0
msgpack==0.6.2
nltk==3.4.5
numpy==1.18.3
packaging==20.3
parlai
-e git+https://github.com/facebookresearch/ParlAI.git@23fa52624823d340f23e96f5f838d18eba608d76#egg=parlai
pep517==0.8.2
pexpect==4.7.0
Pillow==7.1.2
pluggy==0.13.1
progress==1.5
ptyprocess==0.6.0
py==1.8.1
py-gfm==0.1.4
py-rouge==1.1
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.6.1
pyparsing==2.4.6
pytest==5.3.2
python-dateutil==2.8.1
pytoml==0.1.21
pytz==2020.1
PyYAML==5.1
pyzmq==18.1.0
recommonmark==0.6.0
regex==2019.8.19
requests==2.22.0
requests-mock==1.7.0
retrying==1.3.3
s3transfer==0.2.1
scikit-learn==0.22.2.post1
scipy==1.4.1
sh==1.12.14
six==1.14.0
smmap==3.0.2
smmap2==3.0.1
snowballstemmer==2.0.0
Sphinx==2.2.0
sphinx-autodoc-typehints==1.10.3
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
subword-nmt==0.3.7
tokenizers==0.4.2
torch==1.5.0
tqdm==4.36.1
typing-extensions==3.7.4.1
Unidecode==1.1.1
untokenize==0.1.1
urllib3==1.25.8
wcwidth==0.1.9
webencodings==0.5.1
websocket-client==0.56.0
websocket-server==0.4
