beautifulsoup4==4.9.0
blis==0.2.4
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
ChatterBot==1.0.5
chatterbot-corpus==1.2.0
cymem==2.0.3
googletrans==2.4.0
idna==2.9
joblib==0.14.1
lxml==4.5.0
mathparse==0.1.2
murmurhash==1.0.2
neo4j-driver==1.7.6
neobolt==1.7.16
neotime==1.7.4
nltk==3.4.5
numpy==1.18.3
pandas==1.0.3
pika==1.1.0
Pint==0.11
plac==0.9.6
preshed==2.0.1
psycopg2-binary==2.8.4
pycparser==2.20
pymongo==3.10.1
python-dateutil==2.7.5
pytz==2019.3
PyYAML==3.13
rabbitmq==0.2.0
requests==2.23.0
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
soupsieve==2.0
spacy==2.1.9
SQLAlchemy==1.2.19
srsly==1.0.2
thinc==7.0.8
tqdm==4.45.0
urllib3==1.25.8
wasabi==0.6.0
