blis==0.2.4
certifi==2020.4.5.1
chardet==3.0.4
ChatterBot==1.0.5
chatterbot-corpus==1.2.0
cymem==2.0.3
googletrans==2.4.0
idna==2.9
mathparse==0.1.2
murmurhash==1.0.2
neo4j-driver==1.7.6
neobolt==1.7.17
neotime==1.7.4
nltk==3.4.5
numpy==1.18.4
pika==1.1.0
Pint==0.11
plac==0.9.6
preshed==2.0.1
psycopg2-binary==2.8.4
pymongo==3.10.1
python-dateutil==2.7.5
pytz==2020.1
PyYAML==3.13
pyzmq==19.0.1
requests==2.23.0
six==1.14.0
spacy==2.1.9
SQLAlchemy==1.2.19
srsly==1.0.2
thinc==7.0.8
tqdm==4.46.0
urllib3==1.25.9
wasabi==0.6.0
zmq==0.0.0
