beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
cssselect==1.1.0
idna==2.9
lxml==4.5.0
markdown2==2.3.8
oauthlib==3.1.0
pyquery==1.4.1
pyrabbit2==1.0.7
PySocks==1.7.1
readtime==1.1.1
requests==2.23.0
requests-oauthlib==1.3.0
six==1.14.0
soupsieve==2.0
tweepy==3.8.0
urllib3==1.25.8
twint==2.1.16
fire==0.3.0
